/*** Global Styles ***/

html, body {
  font-family: 'Iosevka', monospace;
  font-size:14px;
  margin: 0px;
  padding: 0px;
  min-width: 420px;
  color: #000;
  background-color: rgb(180,193,203);

}

a {
  transition: color .4s;
  color: #F9aa33;
}

a:link { text-decoration: none; },
a:visited { color: #F9aa33; }
a:hover   { color: #F9aa33; }
a:active  {
  transition: color .3s;
  color: #007BE6;
}

/*** Material Styles ***/
#main {
}


input, table, table.md-table, table.md-table th.md-column, md-body, h3, h2, h1, md-body-2,p,label
 ,.md-table-pagination {
  color: rgb(23,38,42);
}


.statsbar md-card-title-text{
  text-align: right;
}

.statsbar md-card md-card-title {
  padding: 12px ;
}

.md-button {
 font-size: 16px;
}

.md-menu-toolbar {
  background: #00796B;
}

md-select-menu,md-toolbar {
  background-color: #232f34;
  color: #fff;

}

md-dialog {
  background-color: rgb(237,240,242);
  color: #d1d6da;
}

md-dialog h2 {
  color: #d1d6da;
}

md-dialog-content, md-dialog md-checkbox {
  color: rgb(36,47,52);
}

.md-toolbar-tools a {
 color: #d1d6da;
}
.md-toolbar-tools a:link { text-decoration: none; },
.md-toolbar-tools a:visited { color: #F9aa33; }
.md-toolbar-tools a:hover   { color: #F9aa33; }
.md-toolbar-tools a:active  {
  transition: color .3s;
  color: #007BE6;
}

md-toolbar.md-table-toolbar:not(.md-menu-toolbar).md-default {
  background-color: rgb(210,219,224);
  color: rgb(44,61,69);
}

md-toolbar {
  min-height: 16px;
}

.md-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}
md-tooltip .md-content {
  height: auto !important;
}

md-input-container  input {
  border-bottom-width: 1px;
  border-bottom-color: rgb(23,38,42);
  border-bottom-style: solid;
}

md-card {
  background-color: #fff;
  color: rgb(23,38,42);
}

md-card-content {
  color: rgb(23,38,42);
}

md-card a {
  transition: color .4s;
  color: rgb(74,91,172);
}

md-card a:link { text-decoration: none; },
md-card a:visited { color: rgb(74,91,172); }
md-card a:hover   { color: rgb(74,91,172); }
md-card a:active  {
  transition: color .3s;
  color: #007BE6;
}


.md-orange-button {
  background-color: #F9aa33;
  color: rgb(23,38,42);
}
h3, h2, h1 {
  font-size: 14px;
}

.md-headline {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.navbar {
}

.navbar .smallfont h3{
  font-size: 0.8em;
}

.navbar .smallfont h3 b{
  display: inline-block;
}

.sidenav {
  background-color: #344955;
  color: #d1d6da;
}

.sidenav ul{
  list-style: none;
}

.sidenav md-list-item {
  padding: 0px;
}

.sidenav a {
  width: 100%;
  text-align: left;
  margin: 0px;
}

.sidebar {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box; 
}

.sidebar a {
  color: rgb(66,66,66);
  text-decoration: none;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  opacity: 0.87; 
}

.sidebar md-icon, .sidebar ng-md-icon {
  vertical-align: middle;
  padding-left: 40px;
}

#content  {
  padding: 40px;
}

.logo {
  background: #333d4b !important;
  color: #fff !important;
}

.logo i {
  color: #00b0ff;
  font-weight: 700;
}

/* HELPERS */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.truncate{
  width:30%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis
}

.hide-error-msg .md-errors-spacer{
  display: none
}

.menu-item {
  position: relative;
  width: 72px;
  height: 72px;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.6;
  transform: translateZ(0);
  -webkit-transform: scale(0.60);
  -moz-transform:scale(0.60);
  font-size: 72px !important;
  color: #aeb7c2;
}

.valid {
  color: green !important;
}

.invalid {
  color: red !important;
}

.metric md-icon {
  font-size: 32px;
}

.navbar .login {
 color: #fff !important;
}

/* CHARTS */

.chart-legend {
  display: none;
}

.chartcontainer {
  width: 100% !important;
  height: 300px;
}

.chartcontainer .ng-isolate-scope {
  height:300px;
}

/* LOGIN WINDOW */
md-dialog .login{
  min-width: 800px !important;
}

.console {
  height: 300px;
  min-width: 500px;
}

.no-padding {
  padding: 0px;
}

.power {
  width: 100%;
  color: #fff;
}

.power a {
  color: #f2ff2f;
}

.power a:hover {
  color: #f2f;
}

.power a.alt {
  color: #f2f;
}

.power a.alt:hover {
  color: #f2ff2f;
}

.fixed {
  position: fixed;
}

.theironfist {
  cursor: pointer;
}